{% extends "base.html" %} 
{% block title %} Register {% endblock %} 
{% block public_content %}
<div class="container mt-5">
    	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% set category, message = messages[-1] %}
		<div class="flash-container-auth">
			{% for category, message in messages %}

				<div class="alert alert-{{ category }} alert-dismissible fade show shadow">
					{{ message }}
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="alert">
					</button>
				</div>

			{% endfor %}
		</div>
		{% endif %}
	{% endwith %}
    <h2 class="text-center mb-4">
        Trekking Management Application
    </h2>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center mb-4">
                        Register
                    </h4>
                    <form method="POST">
                        <input class="form-control mb-3" name="full_name" placeholder="Full Name" required>
                        <input class="form-control mb-3" name="username" placeholder="Username" required>
                        <input class="form-control mb-3" type="email" name="email" placeholder="Email" required>
                        <input class="form-control mb-3" name="phone" type="tel" placeholder="Phone Number">
                        <input class="form-control mb-3" type="password" name="password" placeholder="Password" required>
                        <input class="form-control mb-3" type="password" name="confirm_password" placeholder="Confirm Password" required>
                        <select class="form-select mb-3" name="role">
                            <option value="user">
                                Trekker
                            </option>
                            <option value="staff">
                                Trek Staff
                            </option>
                        </select>
                        <button class="btn btn-primary w-100">
                            Register
                        </button>
                    </form>
                    <p class="text-center mt-3">
                        Already have an account?
                        <a href="{{ url_for('auth.login') }}"> Login here </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}